:root {
    --primary:#f59e0b;
    --primary-dark: #d97706;
    --secondary: #10b981;
    --dark: #1f2937;
    --gray: #6b7280;
    --light-gray: #f3f4f6;
    --white: #ffffff;
    --danger: #ef4444;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --radius: 12px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--dark);
    background-color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}